/* header styls */
/* @import url("style.css"); */
/* @import url("grids.css"); */

header {
  position: fixed;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  } 

  header .content {
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0 0;
  } 

  header nav ul {
    display: flex;
  }

  nav li {
    padding-left: 2rem;
  }

  nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: #4a4a4a;
  }

  nav ul li a:hover {
    color: #ffa500;
    font-weight: bold;
  }

  header .icon {
    width: 2rem;
    padding-left: .75rem;
  }

  header .desktop {
    display: none;
  }

@media only screen and (min-width: 40em) {

    header .desktop {
      display: block;
    }
  
    header .mobile {
      display: none;
    }

    header .logo {
      flex: 1;
    }

    header a:hover {
      color: #ffa500;
      font-weight: bold;
    }


    header .content {
      padding: 0.5rem 1rem 0 1rem;
    } 
}  

@media only screen and (min-width: 70em) {            
    
}